<!--
<a (click)="onNavigate()"><h2 class="card-panel hoverable section z-depth-5 blue lighten-5">Let's get the Backup on track:</h2></a>

<a (click)="onNavigate2()"><h2 class="card-panel hoverable section z-depth-5 blue lighten-5">Backup Storage Configuration:</h2></a>

<a (click)="onNavigate3()"><h2 class="card-panel hoverable section z-depth-5 blue lighten-5">Manage Backup Data:</h2></a>-->

<div class="row blue lighten-4 card-panel section z-depth-5">
    <div class="row">
        <div class="container col s4">
            <div class="input-field col s12 card-panel blue lighten-3 z-depth-5">
                <div class="input-field col s12 card-panel blue lighten-3 z-depth-5">
                    <a (click)="onNavigate()"><h4 class="card-panel hoverable section z-depth-5 blue lighten-5">Let's get the Backup on track:</h4></a>
                </div>
            </div>
        </div>
        <div class="container col s4">
            <div class="input-field col s12 card-panel blue lighten-3 z-depth-5">
                <div class="input-field col s12 card-panel blue lighten-3 z-depth-5">
                    <a (click)="onNavigate2()"><h4 class="card-panel hoverable section z-depth-5 blue lighten-5">Backup Storage Configuration:</h4></a>
                </div>
            </div>
        </div>
        <div class="container col s4">
            <div class="input-field col s12 card-panel blue lighten-3 z-depth-5">
                <div class="input-field col s12 card-panel blue lighten-3 z-depth-5">
                    <a (click)="onNavigate3()"><h4 class="card-panel hoverable section z-depth-5 blue lighten-5">Manage Backup Data:</h4></a>
                </div>
            </div>
        </div>
    </div>
</div>
